.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxes{
  
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100px 100px 100px ;
  grid-template-rows: 100px 100px 100px;
  border: 1px solid black;
  
}
.box{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
