*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}
.justify-content{
  justify-content: center;
}
.align-items{
  align-items: center;
}
.text-align{
  text-align: center;
}
.flex-direction{
  flex-direction:column ;
}
.container {
  gap: 30px;
  margin-bottom: 64px;
  /* border: 1px solid red; */
}

.container-header {
  width: 100%;
  height: 68px;
  margin: auto;
  justify-content: space-between;
}
.body-container {
  width: 100%;
  height: fit-content;
  gap: 30px;
}
.box {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  object-fit: cover;
  
}

.button {
    top: 0;
    right: 0;
    z-index: 100;
    border: 1px solid red;
    width: 40px;
    height: 40px;
}
.input{
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
}

.button:has(input:checked) + .drawer {
    transform: translateX(0);
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 500px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
    transform: translateX(300px);
}
.point {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #10b981;
}
.img-box{
  width: 100%;
  height: 280px;
  /* border: 1px solid red; */
}
.img {
  height: 280px;
  position: relative;
  margin-bottom: 30px;

}
.img-shadow {
  width: 280px;
  height: 280px;
  background: #e5e7eb;
  position: absolute
}
.text-container {
  height: fit-content;
  gap: 50px;
  width: 100%;
}
.ulanbtr {
  flex-direction: row;
  gap: 10px;
}
.new-project {
  flex-direction: row;
  gap: 10px;
}
.icon-btn {
  flex-direction: row;
  gap: 15px;
}
.container2 {
  width: 100%;
  height: fit-content;
  background-color: #f9fafb;
}
.about {
  height: fit-content;
  width: 100%;
  padding-top: 64px;
  gap: 40px;
  padding-bottom: 64px;
}
.content{
  width: 100%;
  height: fit-content;
}
.paragraph{
  width: 100%;
  height: fit-content;
}
.img-shadow2 {
  width: 320px;
  height: 360px;
  background-color: #e5e7eb;
  margin-top: 20px;
  position: relative;
}
.content img {
  position: absolute;
  margin-bottom: 20px;
}
.list {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.list li {
  width: 166.5px;
  height: 48px;
}
.container3 {
  width: 100%;
  height: fit-content;
}

.skills-icon {
  height: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50.59px;
  justify-content: center;
}
.container4 {
  width: 100%;
  height: fit-content;
  background-color: #f9fafb;
  gap: 30px;
  padding-bottom: 64px;
}
.content-container2{
  gap: 30px;
}

.btn {
  width: fit-content;
  height: 28px;
  background-color: #e5e7eb;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.head {
  align-self: center;
  padding-top: 64px;
}
.upwork {
  width: 80%;
  height: fit-content;
  background-color: #ffff;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
}
.upwork-box{
  gap: 30px;
}
.container5 {
  width: 100%;
  height: fit-content;
}
.content-container5 {
  /* width: 90%; */
  height: fit-content;
  margin: auto;

}
.img-container {
  background-color: #f9fafb;
  height: fit-content;
}.img-container img{
  width: 90%;
  height: 90%;
}
.Cab-text {
  padding: 20px;
  gap: 24px;
}
.skills-btn {
  display: grid;
  grid-template-columns: 100px 100px;
}
.footer{
  background-color: #e5e7eb;
  width: 100%;
  height: 68px;

}
