@media only screen and (min-width: 1200px) {
  .bgGray {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body-container {
    flex-direction: row-reverse;
    width: 1140px;
    padding: 20px;
  }
}
  @media only screen and (min-width: 1200px) {
  .text-conrainer {
    width: 550px;
  }
  }
  @media only screen and (min-width: 1200px) {
    .container2{
      display: flex;
      justify-content: center;
    }
    .content-container{
      display: flex;
      flex-direction: row;
    }
    .about{
      width: 1140px;
      padding: 20px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .container3{
      display: flex;
      justify-content: center;
    }
    .content-container2{
      width: 1140px;
      padding: 20px;
      
    }
    .skills-icon{
      gap: 86.87px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .upwork-box{
      width: 1140px;
    }
    .upwork{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 75%;
    }
    .date {
      order: 1;
    }
    }
    @media only screen and (min-width: 1200px){
      .container5{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .GitHub{
        width:1140px;
        flex-direction: row;
        display: flex;
      }
      .img-container{
        width: 500px;
        height: 480px;
      }
      .Cab-text{
        width: 500px;
        height: 480px;
      }
      .skills-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .GitHub2{
        display: flex;
        flex-direction: row-reverse;
        width: 1140px;
      }
      .contact{
        font-size: 36px;
      }
    }
  




